<h1>Hippopotamus Alert System</h1>

<div class="jumbotron">
		<h4 class="text-center">Sign In</h4>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control input-sm chat-input' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
			<div class="wrapper">
      	<span class="group-btn">
					<%= f.submit "Sign In", class: 'btn btn-primary btn-md', style: 'margin-top: 5%' %>
				</span>

			</div>
      <div class="wrapper">
              <span class="group-btn">
                <%= link_to "Sign Up", signup_url, class: 'btn btn-primary btn-md', style: 'margin-top: 5%' %>
              </span>
      </div>
    <% end %>
</div>

