<h1 style="color: white">Hippopotamus Alert System</h1>
<div style="padding-left: 318px;">
<div class="jumbotron" style="padding-bottom: 100px; padding-top: 30px; width: 500px;">
			<h3 style="text-align: center">Sign In</h3>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control input-sm chat-input' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
			<div class="wrapper">
      	<span class="group-btn pull-left">
					<%= f.submit "Sign In", class: 'btn btn-primary btn-md', style: 'margin-top: 5%' %>
				</span>
			</div>
      <div class="wrapper">
              <span class="group-btn pull-right">
                <%= link_to "Sign Up", signup_url, class: 'btn btn-primary btn-md', style: 'margin-top: 5%' %>
              </span>
      </div>
    <% end %>
</div>
</div>