<h1> <%= cookies[:alert_type] %> Alert</h1>

<script>

    function myFunction() {
        var type = '<%= $alert_selected %>';
        var emergency = '<%= $emergency_selected %>'
        var area = '<%= params[:location] %>'
        alert(locations);
        var message = type + " alert indiacting a " + emergency + " in " + area
        document.getElementById('exampleFormControlTextarea1').value = message;
    }

    function myAlert(message) {
        alert(message);
    }
</script>

<div class="jumbotron">
  <form action="create_alert">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="exampleFormControlSelect2">Affected Area</label>
        <select multiple name="location[]" size="20" class="form-control" id="exampleFormControlSelect2">
          <% $locations.each do |location| %>
            <option><%= location.location %></option>
          <% end %>
        </select>
      </div>

      <div class="col-md-6 form-group">
        <label for="exampleFormControlTextarea1">Alert Message</label>
        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="17"></textarea>
      </div>
    </div>

    <div class="btn-toolbar">
      <%= link_to "Back", redo_emergency_path, class: "btn btn-primary" %>
      <button type="submit" class="btn btn-primary pull-right">Send Alert</button>
    </div>

  </form>
  <button class="btn btn-primary pull-right" onclick="myFunction()">Create Message</button>
</div>