<h1> <%= cookies[:alert] %> Alert</h1>

<div class="jumbotron">
  <%= link_to "Landslide", landslide_button_path, class: "btn btn-primary btn-lg btn-block"%>

  <%= link_to "Flash flood", flashflood_button_path, class: "btn btn-primary btn-lg btn-block"%>

  <%= link_to "Tsunami", tsunami_button_path, class: "btn btn-primary btn-lg btn-block"%>

  <%= link_to "Ballistic missile", missile_button_path, class: "btn btn-primary btn-lg btn-block"%>
</div>

<%= link_to redo_type_path, class: "btn btn-primary" do %>
	<span id="span">Back</span>
<% end %> 

<!--<span class="group-btn">
	<%= link_to "Review alert", alert_message_path, class: "btn btn-primary pull-right"%>
</span>-->
 
