<!DOCTYPE html>
<html>
  <head>
    <title>Hippopotamus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
 		<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  </head>

  <body>

		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
				<nav>
				</nav>
			</div>
			<div class="navbar-brand" style="color: white;"> Logged In: <%= cookies[:username] %> </div>
			<div class="navbar-brand" style="color: white;"> Alert Type: <%= cookies[:alert] %> </div>
			<div class="navbar-brand" style="color: white;"> Emergency Type: <%= cookies[:emergency] %> </div>
			<div class="navbar-brand, pull-right" style="color: white">
			   <%= link_to "Log Out", reset_app_path, class: 'navbar-brand', style: 'margin-top: 5%; color: white;' %>
			</div>
    </header>

		<div class="container">
    	<%= yield %>
		</div>

  </body>
</html>

