
<h1 style="color: white">Hippopotamus Alert System</h1>
<div class="row" style="padding-left: 325px;">
  <div class="jumbotron" style="padding-bottom: 100px; padding-top: 30px; width: 500px;">
		<h4 class="text-center">Create Account</h4>
    <%= form_for @account do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

			<div class="wrapper">
      	<span class="group-btn">         

					<%= f.submit "Create Account", class: 'btn btn-primary btn-md', style: 'margin-top: 5%' %>

				</span>
			</div>

    <% end %>
</div>

